In [1]:
#prg  for use of print()
print("HELLO ,HOW ARE YOU")

HELLO ,HOW ARE YOU

In [2]:
X= 10 
Y=23
Z=X+Y
print(Z)

33

In [3]:
#use of print() for variables
x= 23
print(x)
print("x")

23
x

In [4]:
a="hello"
print("a")

a

In [5]:
a="hello"
print(a)

hello

In [6]:
#Assigning values to multiple variables in a statement 
x,y,z="Mickey","Donald","Mini"
print(x)
print(y)
print(z)

Mickey
Donald
Mini

In [7]:
x=y=z=pencil
print(x)
print(y)
print(z)

NameError: name 'pencil' is not defined

In [8]:
#Assigning same value to mutliple variables 
x=y=z="pencil"
print(x)
print(y)
print(z)

pencil
pencil
pencil

In [9]:
age=20
Age=35
AGE=56
print(age)

20

In [10]:
print(AGE)

56

In [11]:
print(aGE)

NameError: name 'aGE' is not defined

In [12]:
print("*")

*

In [13]:
print("5$@##%$#$^#$^$%&$%&")

5$@##%$#$^#$^$%&$%&

In [14]:
print(age)
age=87
print(age)

20
87

In [15]:

print(type(age))

<class 'int'>

In [16]:
name="text"
print(type(name))

<class 'str'>

In [17]:
x=3443.456
print(type(x))

<class 'float'>

In [4]:
x= 2334.6775
print(type(x))# to find the datatype of the  variable x 
print(x)

<class 'float'>
2334.6775

In [5]:
x="6"
y="7"
p=x*y
print(p)

TypeError: can't multiply sequence by non-int of type 'str'

In [10]:
x=6
y=7
p=x*y
print(p)

42

In [1]:
x=21
y=4
p=x/20
print(p)
z=x/y
print(z)
r=x%y   # modulus -display the reminder of division
print(r)
s= x//y #integer part of quotient displayed 
print(s)

1.05
5.25
1
5

In [4]:
a= 3
b=10**3# finding exponent "**"
print(b)

1000

In [11]:
name = "hello "*1000

print(name)

hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello    hello

In [3]:
#using + operator for joining string datatypes
x="world"
y="Hello"
print(y+x)

Helloworld

In [6]:
a=20
b="Apples"
print(str(a)+b)

20Apples

In [7]:
a=20
b=50
print(a)
print(b)

20
50

In [9]:
#use of input function
print("Enter value ")
a=input()

print(a)

Enter value
34
34

In [10]:
x=input("Enter name")
print(x)

Enter namejovin
jovin

In [15]:
x=int(input("enter num1  "))
y=int(input("enter num2  "))
z=(x+y)

print(z)

enter num1  45
enter num2  65
110

In [16]:
#Implicit type - program itself will change the data type
a=3
b=4.5
c=a+b
print(c)

7.5

In [17]:
#Explicit type conversion- user is forcing to change the data type 
a=20
b="Apples "
print(str(a)+b)

20Apples

In [18]:
# creating list
l1=[23,44,65,"apple","peach"]
print(l1)

[23, 44, 65, 'apple', 'peach']

In [19]:
print(li[0])

NameError: name 'li' is not defined

In [20]:
#indexing items in a list using positive numbers starts from left side ,0
print(l1[0])

23

In [21]:
print(l1[1])

44

In [22]:
print(l1[4])

peach

In [23]:
#indexing items in a list using negative  numbers( starts from right side )
print(l1[-1])

peach

In [24]:
print(l1[-2])

apple

In [25]:
print(l1[7])

IndexError: list index out of range

In [26]:
l2=["raj","manu",34,56,90.87,"Abhijith","chennai"]
print(l2)

['raj', 'manu', 34, 56, 90.87, 'Abhijith', 'chennai']

In [29]:
#slicing of items from a list
print(l2[2:4])# 4th index is not included

[34, 56]

In [30]:
print(l2[2:5])#5th index is not included

[34, 56, 90.87]

In [31]:
#changing values in alist
l2[6]="Mumbai"
print(l2)

['raj', 'manu', 34, 56, 90.87, 'Abhijith', 'Mumbai']

In [32]:
#use of len() for finding no of items ina list
print(len(l2))

7

In [34]:
#use of append method to add  one item
print(l2)
l2.append("Cat")

['raj', 'manu', 34, 56, 90.87, 'Abhijith', 'Mumbai']

In [35]:
print(l2)

['raj', 'manu', 34, 56, 90.87, 'Abhijith', 'Mumbai', 'Cat']

In [36]:
#extend method to add more than one item at a time 
l3=[23,80]
l2.extend(l3)
print(l2)

['raj', 'manu', 34, 56, 90.87, 'Abhijith', 'Mumbai', 'Cat', 23, 80]

In [37]:
#remove method
l2.remove("raj")

In [38]:
print(l2)

['manu', 34, 56, 90.87, 'Abhijith', 'Mumbai', 'Cat', 23, 80]

In [39]:
l2.insert(1,500)
print(l2)

['manu', 500, 34, 56, 90.87, 'Abhijith', 'Mumbai', 'Cat', 23, 80]

In [40]:
#pop method to remove item ata specific position
l2.pop(5)
print(l2)

['manu', 500, 34, 56, 90.87, 'Mumbai', 'Cat', 23, 80]

In [41]:
del l2(1)
print(l2)

SyntaxError: cannot delete function call (<ipython-input-41-6ed5e53bccd6>, line 1)

In [42]:
del l2[1]
print(l2)

['manu', 34, 56, 90.87, 'Mumbai', 'Cat', 23, 80]

In [43]:
del l2

In [44]:
print(l2)

NameError: name 'l2' is not defined

In [1]:
#creation of tuple
t1=(23,45,"Aladdin",505)
print(t1)

(23, 45, 'Aladdin', 505)

In [2]:
t2=(27)# not considered as a tuple
print(t2)

27

In [3]:
t2=(27,)# considered as a tuple 
print(t2)

(27,)

In [4]:
print(t1[1])

45

In [5]:
print(t1(3))# error due to round bracket

TypeError: 'tuple' object is not callable

In [6]:
print(t1[3])

505

In [8]:
x=(23,67,"Max",90.06)
print(x)

(23, 67, 'Max', 90.06)

In [9]:
#slicing of items from a tuple using index 
print(x[1:3])

(67, 'Max')

In [10]:
print(l2)

NameError: name 'l2' is not defined

In [11]:
print(l1)

NameError: name 'l1' is not defined

In [12]:
l1=[23,45,7,88,90,455]
print(l1)

[23, 45, 7, 88, 90, 455]

In [13]:
l1[2]=700
print(l2)

NameError: name 'l2' is not defined

In [14]:
l1[2]=700
print(l1)

[23, 45, 700, 88, 90, 455]

In [15]:
print(t1)

(23, 45, 'Aladdin', 505)

In [16]:
# items in a tuple cannot be changed
t1[2]=450
print(t1

TypeError: 'tuple' object does not support item assignment

In [17]:
print(t1)

(23, 45, 'Aladdin', 505)

In [18]:
#cannot delete item wise 
del t1[1]
print(t1)

TypeError: 'tuple' object doesn't support item deletion

In [19]:
# can delete the whole tuple
del t1

print(t1)

NameError: name 't1' is not defined

In [20]:
#creating set-collection of unordered data/items
class_set={"car","bus","bike",23,445}
print(class_set)

{'bike', 'bus', 'car', 23, 445}

In [21]:
#Sets print only unique values
s1={23,45,70,67,45,23}
print(s1)

{67, 45, 70, 23}

In [22]:
#creating dictionaries
d1={"Name":"Akash","Age":20,"City":"Chenna"}
print(d1)

{'Name': 'Akash', 'Age': 20, 'City': 'Chenna'}

In [23]:
#Access individual items from a dictionary
print(d1["Name"])

Akash

In [27]:
#change the value of an item ina dictionary
d1["Name"]="Gopikrishna"
print(d1)

{'Name': 'Gopikrishna', 'Age': 40, 'City': 'Chenna', ('Name', 'Age'): ('Gopikrishna', 55)}

In [28]:
#           3 forms of Control Structure
#1.if
#2. if...else
#3.elif
#if structure
x=10
b=14
if x>b :# since the condition x>b is not satisfied ,print st is not executed 
    print("x > b")

In [29]:
x=100
b=14
if x>b :# since the condition x>b is  satisfied ,print st is  executed
    print("x > b")

x > b

In [34]:
x=147
b=140
if x>b :
    print("x>b")
else:
    print("b>x")

x>b

In [6]:
# to identify whether even or odd
x=int(input("Enter any number"))

if x%2==0:
    print(x,"is an even number")
else:
    print(x,"is odd number")

Enter any number23
23 is odd number

In [13]:
age=int(input("ENTER YOUR AGE :"))
if age<18 :
    print("NOT ELIGIBLE TO VOTE")
else:
    print("ELIGIBLE TO VOTE")

ENTER YOUR AGE :23
ELIGIBLE TO VOTE

In [16]:
#use of elif - for multiple conditions 
total=int(input("Enter marks out of 100  -"))
if(total>=90 and total<=100):
    print("A GRADE")
elif(total>=70 and total<90):
    print("B GRADE")
elif(total>=50 and total<70):
    print("C GRADE")
else:
    print("D GRADE")

Enter marks out of 100  -97
A GRADE

In [19]:
x=int(input("enter any number"))
if( x==10 or x==4):
    print(x,"is value entered")
else:
    print("other value ")

enter any number34
other value

In [21]:
#Loops - for executing any set of statements many times based on certain condition 
# 1. for
# 2. while
for a in range(10):
    print("Thank you")

Thank you
Thank you
Thank you
Thank you
Thank you
Thank you
Thank you
Thank you
Thank you
Thank you

In [22]:
for i in[2,4,6,8,10]:
    print(i)

2
4
6
8
10

In [23]:
l1=[23,45,"Raj","Chennai",34]
for i in (l1):
    print(i)

23
45
Raj
Chennai
34

In [25]:
#Display multiplication table using for loop
x=int(input("Enter any number:"))
for i in range(1,11):
    print(i,"x",x,"=",x*i)

Enter any number:5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45

In [26]:
i=0
while(i<4):
    i=i+1
    print(i)

1
2
3
4

In [28]:
x=int(input("Enter any number:"))
i=0
while(i<10):
    i=i+1
    print(i,"x",x,"=",x*i)

Enter any number:2
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [1]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [2]:
for x in range(6):
    print(x)
else:  # else st will be executed once the for loop completely executed
    print("Done")

0
1
2
3
4
5
Done

In [3]:
i=1
while(i<4):
    print(i)
    i+=1    # i=i+1

1
2
3

In [4]:
i=1
while(i<4):
    print(i)
    i+=1    # i=i+1
else:    # else st is executed once the while loop is over 
    print("i>4")

1
2
3
i>4

In [5]:
#use of break st
i=0
while(i<7):
    print(i)
    if(i==4):
        print("breaking the loop")
        break
    i=i+1

0
1
2
3
4
breaking the loop

In [7]:
# use of negative value for variable in loop
i=1
while(i>-4):
    print(i)
    i=i-1

1
0
-1
-2
-3

In [13]:
# uuse of continue st
for i in range(6):
    if(i==2 or i==4):
        continue  # following statements are skipped and the control goes back to for loop for the next value 
    print(i)

0
1
3
5

In [14]:
#use of pass st
for num in[31,22,44,54,99]:
    if num%2==0:
        pass  # used when no action is to done
    else:
        print(num)

31
99

In [22]:
# textbook pgno216 ,ex 4
largest=0
num1=float(input("Enter number 1  "))
num2=float(input("Enter number 2  "))
num3=float(input("Enter number 3  "))
if(num1==num2==num3):
    print("All are equal")
elif(num1>=num2) and (num1>=num3):
     largest=num1
elif(num2>=num1) and (num2>=num3):
     largest=num2
else:
    largest=num3
print("the largest no is :",largest)

Enter number 1  34
Enter number 2  34
Enter number 3  34
All are equal
the largest no is : 0