In [1]:
# Use of Print statement

In [2]:
print("hello")

hello

In [1]:
print(x)

NameError: name 'x' is not defined

In [2]:
print("x")

x

In [3]:
x=10
print("x")

x

In [4]:
x=10
print(x)

10

In [1]:
x=10
X=23
y=45
print(x)
print(X)
print(y)

10
23
45

In [8]:
name="Mickey"
print(name)
print("name")

Mickey
name

In [9]:
#ASSIGNING VALUES TO MULTIPLE VARIABLES
x,y,z="Mickey","Donald",20
print(x)
print(y)
print(z)

Mickey
Donald
20

In [10]:
#assigning same value to multiple variables
x=y=z="Mickey Mouse"
print(x)
print(y)
print(z)

Mickey Mouse
Mickey Mouse
Mickey Mouse

In [11]:
x=5
print(type(x))

<class 'int'>

In [12]:
x=232.57
print(type(x))

<class 'float'>

In [13]:
x="Hello"
print(type(x))

<class 'str'>

In [15]:
x=467476
print(type(x))

<class 'int'>

In [16]:
x=15
y=24
P1=x*y
print(P1)
x="15"
y="24"
P2=x*y
print(P2)# mathematical operations cannot be performed on String data types,hence error

360

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
x=10
y=2
z=3
a=x+y+z
print(a)
a=x+2
print(a)
a=x/2
print(a)
a=x//2 # integeral divison or quotient will be rounded 
print(a)
a=x%y   # returns the remainder of the division 
print(a)

In [ ]:
x=10
print(x)

In [1]:
x=10
print(x)

10

In [2]:
print("Enter no")# USE OF input function 
x=input()
print(x)

Enter no
23
23

In [3]:
print("Enter no")
y=input()
print(y)

Enter no
455
455

In [4]:
x=input("Enter any number : ")
print(x)

Enter any number : 677
677

In [5]:
a = 20
b = "Apples"
print(str(a)+ b)

20Apples

In [6]:
a = 20
b = "Apples"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
m = False
n = 5
print(Bool(n)+ m)

NameError: name 'Bool' is not defined

In [8]:
m = False
n = 5
print(bool(n)+ m)

1

In [2]:
age=10
print(AGE)

NameError: name 'AGE' is not defined

In [4]:
AGE=10
print(AGE)

10

In [6]:
Age=23
print(AGE)
print(Age)
print(age)

10
23
10

In [8]:
#Use of type() function 
a=-10
b=23.5765
c="Hello"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [10]:
a="5"
b=6
c=a*b
print(c)

555555

In [11]:
a="5"
b="6"
c=a*b
print(c)

TypeError: can't multiply sequence by non-int of type 'str'

In [12]:
#Implicit Type Conversion - prg automatically converts the datatype without programmer involved
a=2.3
b=4
c=a*b
print(c)
print(type(c))

9.2
<class 'float'>

In [14]:
#Explicit conversion ,programmer is forcing to change from one data type to another 
a=20
b="apples"
c=str(a)+b

print(c)
print(int(b))

20apples

ValueError: invalid literal for int() with base 10: 'apples'

In [16]:
#use of input function 
print("Enter your name ")
x=input()
print("Hello"+x)

Enter your name
python
Hellopython

In [17]:
#Join string data type using '+' operator
a="Hello"
b="Python"
c=a+b
print(c)
print(a+b)

HelloPython
HelloPython

In [18]:
print("Enter any number")
num1=input()
print(num1)

Enter any number
2334
2334

print("Enter any number1")
num1=input()
print(num1)
print("Enter any number2")
num2=input()
print(num2)
sum=num1+num2
print(sum)

In [28]:
print("Enter any number1")
num1=int(input())
print(num1)
print("Enter any number2")
num2=int(input())
print(num2)
sum=num1+num2
print(sum)

Enter any number1
23
23
Enter any number2
56
56
79

In [38]:
print("Enter2 numbers")
num=int(input())
num2=int(input())
x=num+num2
print("sumof 2 numbers is "+str(x))

Enter2 numbers
2324
1000
sumof 2 numbers is 3324

In [36]:
age=int(input("How old are you"))
print("you are"+str(age)+"years old")

How old are you34
you are34years old

In [41]:
#data structure - list
#creating list
classlist=["Abhiram","Ajay","Arun","Sam","Blessy",322,767.56]
print(classlist)

['Abhiram', 'Ajay', 'Arun', 'Sam', 'Blessy', 322, 767.56]

In [42]:
print(classlist[0])

Abhiram

In [43]:
print(classlist[1])

Ajay

In [44]:
print(classlist[6])

767.56

In [45]:
print(classlist[1,2])

TypeError: list indices must be integers or slices, not tuple

In [46]:
print(classlist[1:3])

['Ajay', 'Arun']

In [48]:
#how to access items specifically
print(classlist[1],classlist[3])

Ajay Sam

In [49]:
print(classlist)

['Abhiram', 'Ajay', 'Arun', 'Sam', 'Blessy', 322, 767.56]

In [50]:
print(classlist(-1))

TypeError: 'list' object is not callable

In [51]:
print(classlist[-1])

767.56

In [52]:
print(classlist[-4])

Sam

In [53]:
print(classlist)

['Abhiram', 'Ajay', 'Arun', 'Sam', 'Blessy', 322, 767.56]

In [1]:
print(classlist[2:5])

NameError: name 'classlist' is not defined

In [55]:
#prints item of position index 2,3,4 and not 5th 
print(classlist[2:5])

['Arun', 'Sam', 'Blessy']

In [56]:
print(classlist[-2:-5])

[]

In [57]:
print(classlist[-2:-4])

[]

In [58]:
 
print(classlist[-4:-2])

['Sam', 'Blessy']

In [59]:
print(classlist[-2:-4])

[]

In [60]:
print(classlist)

['Abhiram', 'Ajay', 'Arun', 'Sam', 'Blessy', 322, 767.56]

In [61]:
print(classlist(5,2))

TypeError: 'list' object is not callable

In [62]:
print(classlist[5:2])

[]

In [63]:
print(classlist[2:5])

['Arun', 'Sam', 'Blessy']

In [64]:
#how many item are there in a list using len() function
print(len(classlist))

7

In [3]:
x=int(input())
if x>10:
    print("x>10")

200
x>10

In [6]:
x=int(input())
if x>10:
    print("x>10")
else:
    print("x<10")

2
x<10

In [14]:
age=int(input())
if age>=18:
    print("eligible to vote")
else:
    print("not eligible")

34
eligible to vote

In [2]:
marks=100
if (marks>=90)and(marks<=100):
    print(" A grade")
elif (marks>=80)and(marks<90):
    print("B grade")
elif (marks>=60)and(marks<80):
    print("C grade")
elif marks<60:
    print("D")

 A grade

In [3]:
classlist=[1,23,45,78]
print(classlist)

[1, 23, 45, 78]

In [4]:
print(len(classlist))

4

In [5]:
#append method to add items 
classlist.append(100)

In [6]:
print(classlist)

[1, 23, 45, 78, 100]

In [7]:
#remove method - to remove one item at a time 
classlist.remove(100)
print(classlist)

[1, 23, 45, 78]

In [8]:
classlist.remove(78,45)

TypeError: remove() takes exactly one argument (2 given)

In [9]:
#insert method - to add item at a specific position 
classlist.insert(1,"cat")
print(classlist)

[1, 'cat', 23, 45, 78]

In [10]:
#pop method - to delete  any item
classlist.pop(3)
print(classlist)

[1, 'cat', 23, 78]

In [11]:
classlist.pop(0,1)

TypeError: pop expected at most 1 argument, got 2

In [12]:
#use of del method - delete whole list or any particular item
del classlist[0]
print(classlist)

['cat', 23, 78]

In [13]:
del classlist # classlist is deleted 
print(classlist)# hence cannot be displayed

NameError: name 'classlist' is not defined

In [14]:
#creating tuple
t1=(2,4,6)
t2=("Ashik","Benny","Raj")
print(t1)
print(t2)

(2, 4, 6)
('Ashik', 'Benny', 'Raj')

In [15]:
#not considered as a tuple 
t3=(24)

In [16]:

print(t3)

24

In [17]:
t4=(24,)
print(t4)# considered as tuple

(24,)

In [18]:
print(t1)

(2, 4, 6)

In [19]:
#display any specifc item
print(t1[0])

2

In [20]:
t5=(23,45,78,92,34)
print(t5)

(23, 45, 78, 92, 34)

In [21]:
print(t5[1:4])

(45, 78, 92)

In [22]:
# Item in a tuple cannot be changed 
t5[1]=90

TypeError: 'tuple' object does not support item assignment

In [23]:
#deleting a tuple
del t5

In [24]:
print(t5)

NameError: name 't5' is not defined

In [25]:
# creating sets
s1={"car","cycle","bus"}
print(s1)

{'cycle', 'bus', 'car'}

In [26]:
#set is not indexed 
print(s1[2])

TypeError: 'set' object is not subscriptable

In [27]:
s2=("car","cycle","bus","car","plane","bus")
print(s2)

('car', 'cycle', 'bus', 'car', 'plane', 'bus')

In [28]:
#only unique values are displayed ina set
s3={"car","cycle","bus","car","plane","bus"}
print(s3)

{'cycle', 'bus', 'car', 'plane'}

In [29]:
#creating dictionary
d1={"Name":"Ankit","Age":20,"City":"Chennai"}
print(d1)

{'Name': 'Ankit', 'Age': 20, 'City': 'Chennai'}

In [30]:
print(d1.Name)

AttributeError: 'dict' object has no attribute 'Name'

In [32]:
#Accessing certain values in a dictionaryd
print(d1["City"])

Chennai

In [33]:
#Changing values in a dictionary
d1.["Age"]=30
print(d1)

SyntaxError: invalid syntax (<ipython-input-33-a47ba72c981f>, line 2)

In [34]:
#Changing values in a dictionary
d1["Age"]=30
print(d1)

{'Name': 'Ankit', 'Age': 30, 'City': 'Chennai'}

In [35]:
classlist=[12,33,45,56]
print(classlist)

[12, 33, 45, 56]

In [36]:
#extend method is used to add multiple items to a list
l1=[44,77,88]
classlist.extend(l1)
print(classlist)

[12, 33, 45, 56, 44, 77, 88]

In [37]:
print(l1)

[44, 77, 88]

In [38]:
l2=[30,40,50,60]
l1.extend(l2)
print(l1)

[44, 77, 88, 30, 40, 50, 60]

In [41]:
#if 
#else if 
#elif 
x=7
if x>5:
  print("the number>5 ")#only if the condition is true /satisfied ..print st will be executed

the number>5

In [43]:
x=100
y=20
if x>y:# if the condition is false/not  satisfied ,it goes to else st
    print("x is greater than y")
else:
    print("y is greater than x")

x is greater than y

In [47]:
# prg to find whether eligible to vote
age=18
if age>17:
    print("Eligible to vote")
else:
    print("NOt eligible to vote")

Eligible to vote

In [51]:
 print("Enter your age :")
age=int(input())
if age>17:
    print("Eligible to vote")
else:
    print("NOt eligible to vote")

Enter your age :
2
NOt eligible to vote

In [56]:
#check whether even or odd
x=17
if (x%2)==0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [61]:
print("Enter any number")
x=int(input())
if (x%2)==0:
    print("Even number")
    
    else:# see that else is properly placed .
    print("Odd number")

SyntaxError: invalid syntax (<ipython-input-61-794825448253>, line 6)

In [ ]:
print("Enter any number")
x=int(input())
if (x%2)==0:
    print("Even number")
else:# see that else is properly placed .
    print("Odd number")

Enter any number

In [ ]:
a=10
b=5
if a>b:
    print("a>b")
#elif a<b:
 #   print("b>a")
#elif a==b:
 #   print("a is equal to b")

In [ ]:
x=21
y=16
if (x>y):
    print("x>y")

In [ ]:
a=3
if (a==3):
    print("a is 3")

In [1]:
print("hello")

hello

In [4]:
#use of elif for multiple conditions 
a=10
b=10
if a>b:
    print("a>b")
elif b>a:
    print("b>a")
elif a==b:
    print("ais equal to b")

ais equal to b

In [7]:
# displaying grades based on the mark criteria
t=40
if t>80 and t<=100:
    print("A grade")
elif t>70 and t<=80:
    print("B grade")
elif t>60 and t<=70:
    print("c grade")
else:
    print("Failed")

Failed

In [2]:
#lOOPS
#1. for loop
#2.while loop
for c in range(5):#range is function where the no of times the statements need to be executed
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [3]:
for d in[23,45,567,56]:
    print(d)

23
45
567
56

In [4]:
list1=[23,"Hari",89.08,45,"Chennai"]
for i in(list1):#giving the list name directly 
    print(i)

23
Hari
89.08
45
Chennai

In [5]:
#while loop
i=0
while(i<4):
    i=i+1# value of i is incremented by 1 ,0+1=1
    print(i)#after the print st s executed ,flow goes back to while st to check the condition  again

1
2
3
4

In [7]:
for x in range(6):
    print(x)
else:
    print("Work done")

0
1
2
3
4
5
Work done

In [11]:
i=0                  # must give an initial value for the variable
while (i<4):
        i+=1         # short form of i=i+1
        print(i)
else:                # executed when the while  condition is false/not satisfied
    print("i > 4")

i > 4

In [12]:
i=0
while(i<7):
    print(i)
    i=i+1

0
1
2
3
4
5
6

In [13]:
#use of break st 
i=0
while(i<7):
    print(i)
    if(i==4):
        print("breaking the loop")
        break
    i=i+1

0
1
2
3
4
breaking the loop

In [15]:
#use of continue st
for i in(0,1,2,3,4,5):
    if i==2 or i==4:
        continue       #skiping the next staement and going back to for loop for the next value
    print(i)

0
1
3
5

In [19]:
#use of pass st 
for num in[31,34,78,41,99,28]:
    if num%2==0:
        pass   # no action 
    else:
        print(num)

31
41
99

In [22]:
x=int(input("Eneter the value to break the loop"))
for num in [2,4,6,7,8,9,11,12,15]:
    print(num)
    if(num==x):
        break

Eneter the value to break the loop6
2
4
6

In [2]:
# textbook pgno =216 ,ex4
num1=float(input("Enter 1st number "))
num2=float(input("Enter 2nd number "))
num3=float(input("Enter 3rd number "))
if(num1>=num2)and(num1>=num3):
    largest=num1
elif(num2>=num1) and (num2>=num3):
    largest=num2
else:
    largest=num3
print("largestnumber is",largest)

Enter 1st number 23
Enter 2nd number 567
Enter 3rd number 2
largestnumber is) 567.0

In [5]:
# textbook pgno216 ,ex 5
x=int(input("Enter numbers"))
if x>1:
    for i in range(2,x):
        if(x%i)==0:
            print(x,"isnot prime number")
            print(i,"times",x//i,"is",x)
            break
    else:
        print(x,"is a prime number")
else:
    print(x," is not  aprime number")

Enter numbers29
29 is a prime factor

In [10]:
# textbook pageno-217 ex 7
num=int(input ("display multiplication table of "))
for i in range(1,11):# numbers from 1 to 10
    print(num,"x",i,"=",num*i)

display multiplication table of 45
45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

In [15]:
# textbook pgno -220 ,ex 15
i=4
a=[]
while(i>0):
    print("enter number")
    num=int(input())
    if(num%2==0):
        a.append(num)
        i=i-1
print(a)

enter number
23
enter number
31
enter number
21
enter number
41
enter number
45
enter number
65
enter number
33
enter number
56
enter number
44
enter number
64
enter number
78
[56, 44, 64, 78]