In [1]:
# Use of Print statement

In [2]:
print("hello")

hello

In [1]:
print(x)

NameError: name 'x' is not defined

In [2]:
print("x")

x

In [3]:
x=10
print("x")

x

In [4]:
x=10
print(x)

10

In [1]:
x=10
X=23
y=45
print(x)
print(X)
print(y)

10
23
45

In [8]:
name="Mickey"
print(name)
print("name")

Mickey
name

In [9]:
#ASSIGNING VALUES TO MULTIPLE VARIABLES
x,y,z="Mickey","Donald",20
print(x)
print(y)
print(z)

Mickey
Donald
20

In [10]:
#assigning same value to multiple variables
x=y=z="Mickey Mouse"
print(x)
print(y)
print(z)

Mickey Mouse
Mickey Mouse
Mickey Mouse

In [11]:
x=5
print(type(x))

<class 'int'>

In [12]:
x=232.57
print(type(x))

<class 'float'>

In [13]:
x="Hello"
print(type(x))

<class 'str'>

In [15]:
x=467476
print(type(x))

<class 'int'>

In [16]:
x=15
y=24
P1=x*y
print(P1)
x="15"
y="24"
P2=x*y
print(P2)# mathematical operations cannot be performed on String data types,hence error

360

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
x=10
y=2
z=3
a=x+y+z
print(a)
a=x+2
print(a)
a=x/2
print(a)
a=x//2 # integeral divison or quotient will be rounded 
print(a)
a=x%y   # returns the remainder of the division 
print(a)

In [ ]:
x=10
print(x)

In [1]:
x=10
print(x)

10

In [2]:
print("Enter no")# USE OF input function 
x=input()
print(x)

Enter no
23
23

In [3]:
print("Enter no")
y=input()
print(y)

Enter no
455
455

In [4]:
x=input("Enter any number : ")
print(x)

Enter any number : 677
677

In [5]:
a = 20
b = "Apples"
print(str(a)+ b)

20Apples

In [6]:
a = 20
b = "Apples"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
m = False
n = 5
print(Bool(n)+ m)

NameError: name 'Bool' is not defined

In [8]:
m = False
n = 5
print(bool(n)+ m)

1

In [2]:
age=10
print(AGE)

NameError: name 'AGE' is not defined

In [4]:
AGE=10
print(AGE)

10

In [6]:
Age=23
print(AGE)
print(Age)
print(age)

10
23
10

In [8]:
#Use of type() function 
a=-10
b=23.5765
c="Hello"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [10]:
a="5"
b=6
c=a*b
print(c)

555555

In [11]:
a="5"
b="6"
c=a*b
print(c)

TypeError: can't multiply sequence by non-int of type 'str'

In [12]:
#Implicit Type Conversion - prg automatically converts the datatype without programmer involved
a=2.3
b=4
c=a*b
print(c)
print(type(c))

9.2
<class 'float'>

In [14]:
#Explicit conversion ,programmer is forcing to change from one data type to another 
a=20
b="apples"
c=str(a)+b

print(c)
print(int(b))

20apples

ValueError: invalid literal for int() with base 10: 'apples'

In [16]:
#use of input function 
print("Enter your name ")
x=input()
print("Hello"+x)

Enter your name
python
Hellopython

In [17]:
#Join string data type using '+' operator
a="Hello"
b="Python"
c=a+b
print(c)
print(a+b)

HelloPython
HelloPython

In [18]:
print("Enter any number")
num1=input()
print(num1)

Enter any number
2334
2334

print("Enter any number1")
num1=input()
print(num1)
print("Enter any number2")
num2=input()
print(num2)
sum=num1+num2
print(sum)

In [28]:
print("Enter any number1")
num1=int(input())
print(num1)
print("Enter any number2")
num2=int(input())
print(num2)
sum=num1+num2
print(sum)

Enter any number1
23
23
Enter any number2
56
56
79

In [38]:
print("Enter2 numbers")
num=int(input())
num2=int(input())
x=num+num2
print("sumof 2 numbers is "+str(x))

Enter2 numbers
2324
1000
sumof 2 numbers is 3324

In [36]:
age=int(input("How old are you"))
print("you are"+str(age)+"years old")

How old are you34
you are34years old

In [41]:
#data structure - list
#creating list
classlist=["Abhiram","Ajay","Arun","Sam","Blessy",322,767.56]
print(classlist)

['Abhiram', 'Ajay', 'Arun', 'Sam', 'Blessy', 322, 767.56]

In [42]:
print(classlist[0])

Abhiram

In [43]:
print(classlist[1])

Ajay

In [44]:
print(classlist[6])

767.56

In [45]:
print(classlist[1,2])

TypeError: list indices must be integers or slices, not tuple

In [46]:
print(classlist[1:3])

['Ajay', 'Arun']

In [48]:
#how to access items specifically
print(classlist[1],classlist[3])

Ajay Sam

In [49]:
print(classlist)

['Abhiram', 'Ajay', 'Arun', 'Sam', 'Blessy', 322, 767.56]

In [50]:
print(classlist(-1))

TypeError: 'list' object is not callable

In [51]:
print(classlist[-1])

767.56

In [52]:
print(classlist[-4])

Sam

In [53]:
print(classlist)

['Abhiram', 'Ajay', 'Arun', 'Sam', 'Blessy', 322, 767.56]

In [54]:
print(classlist[2:4])

['Arun', 'Sam']

In [55]:
#prints item of position index 2,3,4 and not 5th 
print(classlist[2:5])

['Arun', 'Sam', 'Blessy']

In [56]:
print(classlist[-2:-5])

[]

In [57]:
print(classlist[-2:-4])

[]

In [58]:
 
print(classlist[-4:-2])

['Sam', 'Blessy']

In [59]:
print(classlist[-2:-4])

[]

In [60]:
print(classlist)

['Abhiram', 'Ajay', 'Arun', 'Sam', 'Blessy', 322, 767.56]

In [61]:
print(classlist(5,2))

TypeError: 'list' object is not callable

In [62]:
print(classlist[5:2])

[]

In [63]:
print(classlist[2:5])

['Arun', 'Sam', 'Blessy']

In [64]:
#how many item are there in a list using len() function
print(len(classlist))

7